force-app/main/default/flows/AlterarCoeficienteTabela.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AtribuirRegistros</name>
        <label>Atribuir Registros</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Registrosparaatualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirValor</name>
        <label>AtribuirValor</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.CoeficienteTabela__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>porcentagem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuirRegistros</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Alterar Coeficiente da Tabela {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alterar Coeficiente da Tabela</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>UnidadesVinculadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuirValor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AtualizarRegistros</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>UnidadesVinculadas</name>
        <label>Unidades vinculadas</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TabelaVenda__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UnidadeTabelaVendas__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarRegistros</name>
        <label>Atualizar Registros</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>Registrosparaatualizar</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UnidadesVinculadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoeficienteTabela__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TabelaVendas__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>porcentagem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.CoeficienteTabela__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Registrosparaatualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UnidadeTabelaVendas__c</objectType>
    </variables>
</Flow>
