force-app/main/default/flows/AtualizarProdutoVinculadosTabela.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AtribuirRegistrosProduto</name>
        <label>Atribuir registros de Produto</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>RegistrosProduto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obter_Produtos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_Atribuir_registros_de_Produto</name>
        <label>Cópia 1 de Atribuir registros de Produto</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>RegistrosProduto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CopiaObterProdutos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C_pia_1_de_Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_Teste</name>
        <label>Cópia 1 de Teste</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Obter_Produtos.AssociadoTabelaPulicado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C_pia_1_de_Atribuir_registros_de_Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Teste</name>
        <label>Teste</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Obter_Produtos.AssociadoTabelaPulicado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>True</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuirRegistrosProduto</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>VerificarStatus</name>
        <label>Verificar Status</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CopiaObterUnidadesRelacionadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Publicada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Publicada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterUnidadesRelacionadas</targetReference>
            </connector>
            <label>Publicada?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Atualizar Produto Vinculados a Tabela {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualizar Produto Vinculados a Tabela</label>
    <loops>
        <name>C_pia_1_de_Loop_1</name>
        <label>Cópia 1 de Loop 1</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <collectionReference>CopiaObterUnidadesRelacionadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CopiaObterProdutos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualizar_Produtos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>ObterUnidadesRelacionadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Obter_Produtos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualizar_Produtos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CopiaObterProdutos</name>
        <label>Cópia 1 de Obter Produtos</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C_pia_1_de_Teste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.Unidade__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CopiaObterUnidadesRelacionadas</name>
        <label>Cópia 1 de Obter unidades Relacionadas</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C_pia_1_de_Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TabelaVenda__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UnidadeTabelaVendas__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Produtos</name>
        <label>Obter Produtos</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Teste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.Unidade__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterUnidadesRelacionadas</name>
        <label>Obter unidades Relacionadas</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TabelaVenda__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UnidadeTabelaVendas__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Produtos</name>
        <label>Atualizar Produtos</label>
        <locationX>226</locationX>
        <locationY>1139</locationY>
        <inputReference>RegistrosProduto</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerificarStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TabelaVendas__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RegistrosProduto</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>True</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
