force-app/main/default/flows/ClriaLeadsWhast.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>VerificarEmailValido</name>
        <label>VerificarEmailValido</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <actionName>LeadSelector</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ObterRoleta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>ObterLead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadSelector</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>LeadExistente</name>
        <label>LeadExistente</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>ObterRoleta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>LeadExiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificarEmailValido</targetReference>
            </connector>
            <label>LeadExiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>NumeroMetadadoValido</name>
        <label>NumeroMetadadoValido</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>MetadadoInvalido</defaultConnectorLabel>
        <rules>
            <name>MetadadoValido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.De__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ObterMetadadoWhatsApp.NumeroDoWhatsappBusiness__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterTipodeRegistro</targetReference>
            </connector>
            <label>MetadadoValido</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReiteracaoLead</name>
        <label>ReiteracaoLead</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Interacao</defaultConnectorLabel>
        <rules>
            <name>Reiteracao</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Perdido(não trabalho)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Descartado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarReiteracoes</targetReference>
            </connector>
            <label>Reiteracao</label>
        </rules>
    </decisions>
    <decisions>
        <name>RoletaWhatsAppExistente</name>
        <label>RoletaWhatsAppExistente</label>
        <locationX>710</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>CriaLeadSemRoleta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NaoExistente</defaultConnectorLabel>
        <rules>
            <name>Existente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoletaIncludesWhatsApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriaLead</targetReference>
            </connector>
            <label>Existente</label>
        </rules>
    </decisions>
    <decisions>
        <name>TriagemLead</name>
        <label>TriagemLead</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>ReiteracaoLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TriagemCompleta</defaultConnectorLabel>
        <rules>
            <name>TriagemIncompleta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.ContadorMensagemPadrao__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarContadorMensagem</targetReference>
            </connector>
            <label>TriagemIncompleta</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaSeExisteLeadChaveCadastrado</name>
        <label>Verifica se existe Lead com Chave Cadastrado</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>RoletaWhatsAppExistente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NaoExistente</defaultConnectorLabel>
        <rules>
            <name>BuscaExistente</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ChaveExternaCliente__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailValido</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.ChaveExternaWhatsApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ChaveExternaCliente__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TriagemLead</targetReference>
            </connector>
            <label>BuscaExistente</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DataAgora</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>DiasDesdeInteracao</name>
        <dataType>Number</dataType>
        <expression>TODAY()-{!ObterLead.DataUltimaReiteracoes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EmailValido</name>
        <dataType>Boolean</dataType>
        <expression>!ISBLANK({!VerificarEmailValido})</expression>
    </formulas>
    <formulas>
        <name>RoletaIncludesWhatsApp</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!ObterRoleta.CanaisAtendimento__c}, &apos;WhatsApp&apos;)</expression>
    </formulas>
    <formulas>
        <name>SomarContador</name>
        <dataType>Number</dataType>
        <expression>{!ObterLead.ContadorMensagemPadrao__c}+1</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>SomarReiteracoes</name>
        <dataType>Number</dataType>
        <expression>{!ObterLead.QuantidadeDeReiteracoes__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ClriaLeadsWhast {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClriaLeadsWhast</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CriaLead</name>
        <label>CriaLead</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>CanalAtendimento__c</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChaveExternaWhatsApp__c</field>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObterFila.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>{!ObterTipodeRegistro.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemetenteWhatsApp__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RoletaLeads__c</field>
            <value>
                <elementReference>ObterRoleta.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CriaLeadSemRoleta</name>
        <label>CriaLeadSemRoleta</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>CanalAtendimento__c</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChaveExternaWhatsApp__c</field>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObterFila.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>{!ObterTipodeRegistro.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemetenteWhatsApp__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ObterFila</name>
        <label>ObterFila</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeadExistente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fila_Online</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterLead</name>
        <label>ObterLead</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterFila</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterTipodeRegistro.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterMetadadoWhatsApp</name>
        <label>ObterMetadadoWhatsApp</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NumeroMetadadoValido</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IntegracaoWhatsapp__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRoleta</name>
        <label>ObterRoleta</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaSeExisteLeadChaveCadastrado</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Ativa__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ativa__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RoletaLeads__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterTipodeRegistro</name>
        <label>ObterTipodeRegistro</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PessoaFisica</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarContadorMensagem</name>
        <label>AtualizarContadorMensagem</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>ReiteracaoLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContadorMensagemPadrao__c</field>
            <value>
                <elementReference>SomarContador</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarReiteracoes</name>
        <label>AtualizarReiteracoes</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObterFila.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantidadeDeReiteracoes__c</field>
            <value>
                <elementReference>SomarReiteracoes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltima_Reitera_o__c</field>
            <value>
                <elementReference>DataAgora</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterMetadadoWhatsApp</targetReference>
        </connector>
        <object>Mensagem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MensagemTexto1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Olá, bom dia! Obrigado por entrar em contato conosco. Por favor, informe seu primeiro nome.</stringValue>
        </value>
    </variables>
</Flow>
