force-app/main/default/flows/ClriaLeadsWhast.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AtualizarUltimaReiteracao</name>
        <label>AtualizarUltimaReiteracao</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>ObterLeadExistente.ltima_Reitera_o__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataAgora</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterLeadExistente.QuantidadeDeReiteracoes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ReiteracaoLead</name>
        <label>ReiteracaoLead</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Interacao</defaultConnectorLabel>
        <rules>
            <name>Reiteracao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DiasPassadoUltimaReiteracoes</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarUltimaReiteracao</targetReference>
            </connector>
            <label>Reiteracao</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_se_existe_Lead_com_Chave_Cdastrado</name>
        <label>Verifica se existe Lead com Chave Cdastrado</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>CriaLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NaoExistente</defaultConnectorLabel>
        <rules>
            <name>BuscaExistente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ChaveExternaCliente__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterLeadExistente</targetReference>
            </connector>
            <label>BuscaExistente</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DataAgora</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>DiasPassadoPrimeiraInteracao</name>
        <dataType>Number</dataType>
        <expression>TODAY()-{!ObterLeadExistente.PrimeiraInteracao__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DiasPassadoUltimaReiteracoes</name>
        <dataType>Number</dataType>
        <expression>TODAY()-{!ObterLeadExistente.DataUltimaReiteracoes__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ClriaLeadsWhast {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClriaLeadsWhast</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CriaLead</name>
        <label>CriaLead</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>CanalAtendimento__c</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChaveExternaWhatsApp__c</field>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CorretorContato__c</field>
            <value>
                <elementReference>ObterCorretorWhatsApp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>email.provisorio@email.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObterFila.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>{!ObterTipodeRegistro.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RoletaLeads__c</field>
            <value>
                <stringValue>{!ObterRoleta.Id}</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ObterCorretorWhatsApp</name>
        <label>ObterCorretorWhatsApp</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verifica_se_existe_Lead_com_Chave_Cdastrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterFila</name>
        <label>ObterFila</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterCorretorWhatsApp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fila_Online</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterLead</name>
        <label>ObterLead</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterRoleta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterTipodeRegistro.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterLeadExistente</name>
        <label>ObterLeadExistente</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReiteracaoLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChaveExternaWhatsApp__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuscaExistente</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRoleta</name>
        <label>ObterRoleta</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterFila</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Roleta Online</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RoletaLeads__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterTipodeRegistro</name>
        <label>ObterTipodeRegistro</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PessoaFisica</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterTipodeRegistro</targetReference>
        </connector>
        <object>Mensagem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
