force-app/main/default/flows/ClriaLeadsWhast.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AtualizarUltimaReiteracao</name>
        <label>AtualizarUltimaReiteracao</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>ObterLead.ltima_Reitera_o__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataAgora</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterLead.QuantidadeDeReiteracoes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>NumeroMetadadoValido</name>
        <label>NumeroMetadadoValido</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>MetadadoInvalido</defaultConnectorLabel>
        <rules>
            <name>MetadadoValido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.De__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ObterMetadadoWhatsApp.NumeroDoWhatsappBusiness__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterTipodeRegistro</targetReference>
            </connector>
            <label>MetadadoValido</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReiteracaoLead</name>
        <label>ReiteracaoLead</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Interacao</defaultConnectorLabel>
        <rules>
            <name>Reiteracao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DiasDesdeInteracao</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarUltimaReiteracao</targetReference>
            </connector>
            <label>Reiteracao</label>
        </rules>
    </decisions>
    <decisions>
        <name>TriagemLead</name>
        <label>TriagemLead</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>ReiteracaoLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TriagemCompleta</defaultConnectorLabel>
        <rules>
            <name>TriagemIncompleta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.ContadorMensagemPadrao__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarContadorMensagem</targetReference>
            </connector>
            <label>TriagemIncompleta</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaSeExisteLeadChaveCadastrado</name>
        <label>Verifica se existe Lead com Chave Cadastrado</label>
        <locationX>380</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>CriaLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NaoExistente</defaultConnectorLabel>
        <rules>
            <name>BuscaExistente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ChaveExternaCliente__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TriagemLead</targetReference>
            </connector>
            <label>BuscaExistente</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DataAgora</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>DiasDesdeInteracao</name>
        <dataType>Number</dataType>
        <expression>TODAY()-{!ObterLead.DataUltimaReiteracoes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SomarContador</name>
        <dataType>Number</dataType>
        <expression>{!ObterLead.ContadorMensagemPadrao__c}+1</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>ClriaLeadsWhast {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClriaLeadsWhast</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CriaLead</name>
        <label>CriaLead</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <inputAssignments>
            <field>CanalAtendimento__c</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChaveExternaWhatsApp__c</field>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CorretorContato__c</field>
            <value>
                <elementReference>ObterCorretorWhatsApp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>email.provisorio@email.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObterFila.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>{!ObterTipodeRegistro.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemetenteWhatsApp__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RoletaLeads__c</field>
            <value>
                <stringValue>{!ObterRoleta.Id}</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ObterCorretorWhatsApp</name>
        <label>ObterCorretorWhatsApp</label>
        <locationX>380</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_registros_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterFila</name>
        <label>ObterFila</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterCorretorWhatsApp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fila_Online</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterLead</name>
        <label>ObterLead</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterRoleta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ChaveExternaCliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterTipodeRegistro.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterMetadadoWhatsApp</name>
        <label>ObterMetadadoWhatsApp</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NumeroMetadadoValido</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IntegracaoWhatsapp__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRoleta</name>
        <label>ObterRoleta</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterFila</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Roleta Online</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RoletaLeads__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterTipodeRegistro</name>
        <label>ObterTipodeRegistro</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PessoaFisica</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_registros_1</name>
        <label>Atualizar registros 1</label>
        <locationX>380</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>VerificaSeExisteLeadChaveCadastrado</targetReference>
        </connector>
        <inputReference>ObterLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarContadorMensagem</name>
        <label>AtualizarContadorMensagem</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>ReiteracaoLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContadorMensagemPadrao__c</field>
            <value>
                <elementReference>SomarContador</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterMetadadoWhatsApp</targetReference>
        </connector>
        <object>Mensagem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MensagemTexto1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Olá, bom dia! Obrigado por entrar em contato conosco. Por favor, informe seu primeiro nome.</stringValue>
        </value>
    </variables>
</Flow>
