force-app/main/default/flows/Compartilha_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Decis_o_4</name>
        <label>Decisão reportase 6</label>
        <locationX>182</locationX>
        <locationY>3227</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase6</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_3_de_C_pia_2_de_Cria_compartilhamento_do_lead</targetReference>
            </connector>
            <label>encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrou_compartilhamento</name>
        <label>Encontrou compartilhamento?</label>
        <locationX>1374</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Resultado_1_de_Encontrou_compartilhamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obt_m_compartilhamento_para_o_usu_rio.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reportase1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validando_reporta_se_null</targetReference>
            </connector>
            <label>Resultado 1 de Encontrou compartilhamento?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrou_usuario_superior</name>
        <label>Encontrou usuário superior?</label>
        <locationX>1636</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Encontrou_usuario_superior1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obt_m_compartilhamento_para_o_usu_rio</targetReference>
            </connector>
            <label>Encontrou usuário superior?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_novo_ou_proprietario_foi_alterado</name>
        <label>Lead novo ou proprietário foi alterado?</label>
        <locationX>2122</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObitemUsuario_1</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validando_o_reporta_se_null</name>
        <label>Validando o reporta se null</label>
        <locationX>858</locationX>
        <locationY>2579</locationY>
        <defaultConnectorLabel>é nulo</defaultConnectorLabel>
        <rules>
            <name>Nao_nulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Cria_compartilhamento_do_lead</targetReference>
            </connector>
            <label>Nao é nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validando_o_reportasse_a</name>
        <label>Validando o reportasse é nulo</label>
        <locationX>611</locationX>
        <locationY>2795</locationY>
        <defaultConnectorLabel>é nulo</defaultConnectorLabel>
        <rules>
            <name>N_o_nulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_C_pia_2_de_Cria_compartilhamento_do_lead</targetReference>
            </connector>
            <label>Não é nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validando_reporta_se_null</name>
        <label>Validando reporta se null</label>
        <locationX>1114</locationX>
        <locationY>2363</locationY>
        <defaultConnectorLabel>é nulo</defaultConnectorLabel>
        <rules>
            <name>nao_esta_nulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_compartilhamento_do_lead</targetReference>
            </connector>
            <label>nao esta nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validando_se_o_reporta_se</name>
        <label>Validando se o reporta se esta vazio</label>
        <locationX>1636</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>BuscaReportase_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não esta vazio</defaultConnectorLabel>
        <rules>
            <name>esta_vazio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encontrou_usuario_superior</targetReference>
            </connector>
            <label>esta vazio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validando_se_o_reporta_se_2_esta_vazio</name>
        <label>Validando se o reporta se 2 esta vazio</label>
        <locationX>1806</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>BuscaReportase3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>nao esta vazio</defaultConnectorLabel>
        <rules>
            <name>Esta_vazio2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encontrou_usuario_superior</targetReference>
            </connector>
            <label>Esta vazio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validando_se_o_reporta_se_3_esta_vazio</name>
        <label>Validando se o reporta se 3 esta vazio</label>
        <locationX>1971</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>BuscaReportase_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Esta_vazio3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encontrou_usuario_superior</targetReference>
            </connector>
            <label>Esta vazio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validando_se_o_reporta_se_4_esta_vazio</name>
        <label>Validando se o reporta se 4 esta vazio</label>
        <locationX>2125</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>BuscaReportase_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao esta vazio</defaultConnectorLabel>
        <rules>
            <name>Esta_vazio4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encontrou_usuario_superior</targetReference>
            </connector>
            <label>Esta vazio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validando_se_o_reporta_se_5_esta_vazio</name>
        <label>Validando se o reporta se 5 esta vazio</label>
        <locationX>2257</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>BuscaReportase_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>nao esta vazio</defaultConnectorLabel>
        <rules>
            <name>Esta_vazio5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase6</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encontrou_usuario_superior</targetReference>
            </connector>
            <label>Esta vazio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validando_se_o_reportase_5_nao_esta_vazio</name>
        <label>Validando se o reportase 5 nao esta vazio</label>
        <locationX>380</locationX>
        <locationY>3011</locationY>
        <defaultConnectorLabel>é nulo</defaultConnectorLabel>
        <rules>
            <name>Nao_nulo2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_C_pia_2_de_Cria_compartilhamento_do_lead</targetReference>
            </connector>
            <label>Nao é nulo</label>
        </rules>
    </decisions>
    <description>Ajustes na validação de compartilhamento</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Compartilha Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compartilha Leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>C_pia_1_de_C_pia_2_de_Cria_compartilhamento_do_lead</name>
        <label>Cópia 1 de Cópia 2 de Cria compartilhamento do lead</label>
        <locationX>380</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Validando_se_o_reportase_5_nao_esta_vazio</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Reportase4</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>C_pia_2_de_C_pia_2_de_Cria_compartilhamento_do_lead</name>
        <label>Cópia 2 de Cópia 2 de Cria compartilhamento do lead</label>
        <locationX>182</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>Decis_o_4</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Reportase5</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>C_pia_2_de_Cria_compartilhamento_do_lead</name>
        <label>Cópia 2 de Cria compartilhamento do lead</label>
        <locationX>611</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Validando_o_reportasse_a</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Reportase3</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>C_pia_3_de_C_pia_2_de_Cria_compartilhamento_do_lead</name>
        <label>Cópia 3 de Cópia 2 de Cria compartilhamento do lead</label>
        <locationX>50</locationX>
        <locationY>3335</locationY>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Reportase6</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cria_compartilhamento_do_lead</name>
        <label>Cria compartilhamento do lead</label>
        <locationX>858</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Validando_o_reporta_se_null</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Reportase2</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>BuscaReportase3</name>
        <label>Busca Reportase 3</label>
        <locationX>1971</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validando_se_o_reporta_se_3_esta_vazio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reportase3</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Reportase3</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Reportase4</assignToReference>
            <field>Reportase__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BuscaReportase_2</name>
        <label>Busca Reportase 2</label>
        <locationX>1806</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validando_se_o_reporta_se_2_esta_vazio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reportase2</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Reportase2</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Reportase3</assignToReference>
            <field>Reportase__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BuscaReportase_4</name>
        <label>Busca Reportase 4</label>
        <locationX>2125</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validando_se_o_reporta_se_4_esta_vazio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reportase4</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Reportase4</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Reportase5</assignToReference>
            <field>Reportase__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BuscaReportase_5</name>
        <label>Busca Reportase 5</label>
        <locationX>2257</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validando_se_o_reporta_se_5_esta_vazio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reportase5</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Reportase5</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Reportase6</assignToReference>
            <field>Reportase__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BuscaReportase_6</name>
        <label>Busca Reportase 6</label>
        <locationX>2345</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_usuario_superior</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reportase6</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Reportase6</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObitemUsuario_1</name>
        <label>Obtém usuário 1</label>
        <locationX>1636</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validando_se_o_reporta_se</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Reportase1</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Reportase2</assignToReference>
            <field>Reportase__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obt_m_compartilhamento_para_o_usu_rio</name>
        <label>Obtém compartilhamento para o usuário</label>
        <locationX>1374</locationX>
        <locationY>2147</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_compartilhamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1996</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_novo_ou_proprietario_foi_alterado</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Reportase1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reportase2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reportase3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reportase4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reportase5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reportase6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userReportase1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>userReportase2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>userReportase3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
