force-app/main/default/flows/Equipe_do_Gerente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Encontrou_usu_rio_superior</name>
        <label>Encontrou usuário superior?</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Encontrou usuário</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validando_se_o_reporta_se_2_esta_vazio</name>
        <label>Validando se o reporta se 2 esta vazio</label>
        <locationX>308</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>ObterCorretores3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não esta vazio</defaultConnectorLabel>
        <rules>
            <name>EstaVazio2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportas2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encontrou_usu_rio_superior</targetReference>
            </connector>
            <label>Esta vázio</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidarReportaseVazio</name>
        <label>Validando se o reporta se esta vazio</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>ObterCorretores2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não esta vazio</defaultConnectorLabel>
        <rules>
            <name>EstaVazio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reportase1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encontrou_usu_rio_superior</targetReference>
            </connector>
            <label>Esta vázio</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Equipe do Gerente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Equipe do Gerente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ObtemCorretores</name>
        <label>Obtém corretores</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidarReportaseVazio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Reportase1</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Reportas2</assignToReference>
            <field>Reportase__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObterCorretores2</name>
        <label>Obter Corretores 2</label>
        <locationX>308</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validando_se_o_reporta_se_2_esta_vazio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reportas2</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Reportas2</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Reportase3</assignToReference>
            <field>Reportase__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObterCorretores3</name>
        <label>Obter Corretores 3</label>
        <locationX>396</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_usu_rio_superior</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reportase3</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Reportase3</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Reportase4</assignToReference>
            <field>Reportase__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtemCorretores</targetReference>
        </connector>
        <object>ParticipanteRoleta__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Reportas2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reportase1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reportase3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reportase4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
