force-app/main/default/flows/Flow_Converter_Tarefas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <customErrors>
        <name>Erro_N_o_Encontrado</name>
        <label>Erro N達o Encontrado</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Tarefa n達o associada ao lead!</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Tarefa_Encontrada</name>
        <label>Tarefa Encontrada</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado padr達o</defaultConnectorLabel>
        <rules>
            <name>Encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Tarefas_Compromisso.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.WhoId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Convertido</targetReference>
            </connector>
            <label>Encontrado</label>
        </rules>
        <rules>
            <name>Nao_Encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Tarefas_Compromisso.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.WhoId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro_N_o_Encontrado</targetReference>
            </connector>
            <label>Nao Encontrado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow Converter Tarefas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Converter Tarefas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Tarefas_Compromisso</name>
        <label>Compromisso Leads</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tarefa_Encontrada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Lead_Convertido</name>
        <label>Lead Convertido</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Tarefas_Compromisso.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Convers達o</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Tarefas_Compromisso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visita</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_do_Compromisso__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realizada com Sucesso</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
